[Unit]
Description=This provides a monitoring of this stand by general bot.
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
Type=telestandx_agent
WorkingDirectory=/opt/telestandx
ExecStart=python3 agent/agent.py
Restart=on-failure
LimitNOFILE=10000

[Install]
WantedBy=multi-user.target
