[Unit]
Description=This provides a monitoring of this stand by general bot.
After=syslog.target network.target remote-fs.target nss-lookup.target

[Service]
Type=simple
WorkingDirectory=/opt/telestandx
ExecStart=/usr/bin/python3 /opt/telestandx/agent/agent.py
Restart=on-failure
User=autotest
Group=autotest
TimeoutSec=2
KillMode=process

[Install]
WantedBy=multi-user.target
